@model MedicalServece.Models.ApplicationUser

@{
    ViewBag.Title = "DR.Profile";
    Layout = "~/Views/Shared/_Manage.cshtml";
}
<style>
        ul{
            list-style:none;
            display:inline-block;
            width:100%        ;
            padding:0
        }
    </style>
<div class="card mb-3" dir="rtl" >
    <div class="card-body ">
        
        <div class="container">
            <div class="row">
                <div class="about col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <ul class="icons">
                        <li><img id="online2" src="~/images/online.png" class="img-responsive img-thumbnail pull-right"></li>
                    </ul>

                    <ul class="info">
                        <li class="pull-right"><h3><span>نبذه</span> <samp style="color:#007bff">عن</samp> الدكتور </h3></li>
                        <li class="pull-right"width="100%">
                            <div class="pull-right">
                                 @Model.Summray
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="form-edit col-lg-8 col-md-8 col-sm-7 col-xs-12">
                    <div class="form-group">
                        <div class="form-control">
                            <span class="pull-right">الاسم بالكامل  </span><span class="pull-right">: @Model.FullUserName</span>
                        </div>  
                                      </div>
                    <div class="form-group">
                        <div class="form-control">
                            <span class="pull-right">تاريخ الميلاد  </span><span class="pull-right">: @Model.Birthdate.ToShortDateString()</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-control">
                            <span class="pull-right">البريد الالكتروني  </span><span class="pull-right">:  @Model.Email</span>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="form-control">
                            <span class="pull-right">الجنس  </span><span class="pull-right">:  @Model.Gender</span>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="form-control">
                            <span class="pull-right">الدراسة  </span><span class="pull-right">:  @Model.Degree</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-control">
                            <span class="pull-right">بلد التخرج  </span><span class="pull-right">:  @Model.Country</span>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="form-control">
                            <span class="pull-right">سنه التخرج  </span><span class="pull-right">:  @Model.ExYear</span>
                        </div>
                    </div>
                    <div class="form-group">

                <div class="form-control">
                    <span class="pull-right">المستوي المهني   </span><span class="pull-right">:  @Model.ProfessionalTitle</span>
                </div>
                    </div>
                    <div class="form-group">

                        <div class="form-control">
                            <span class="pull-right">الاسم المهني بالكامل  </span><span class="pull-right">:  @Model.FullProfessionalTitle</span>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="form-control">
                            <span class="pull-right">التخصص الرئيسي  </span><span class="pull-right">:  @Model.MajorSpecialization</span>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="form-control">
                            <span class="pull-right">التخصص الفرعي  </span><span class="pull-right">:  @Model.SubSpecialization</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <p class="card-footer">
        @Html.ActionLink("تعديل", "EditDoctorProfile",null,new {@class= "btn btn-success" })
    </p>
</div>
