@model MedicalServece.Models.EditProFile

@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_Manage.cshtml";
}
<style>
    ul {
        list-style: none;
        display: inline-block;
        width: 100%;
        padding: 0;
    }

    .area {
        margin-top: 10px;
        width: 100%;
        height: 200px;
        border-color: #007bff;
    }
</style>

<div class="card mb-3">
    <div class="card-body" dir="rtl">
        <div class="table-responsive">
            @using (Html.BeginForm())
            {       @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="container">
                    <div class="row">
                        <div class="about col-lg-4 col-md-4 col-sm-5 col-xs-12">
                            <ul class="icons">
                                <li><img id="online2" name="ImageUser" src="~/images/online.png" class="img-responsive img-thumbnail pull-right"></li>
                            </ul>

                            <ul class="info">
                                <li class="pull-right"><h3><span>نبذه</span> <samp style="color:#007bff">عن</samp> الدكتور </h3></li>
                            </ul>
                        </div>
                        <div class="form-edit col-lg-8 col-md-8 col-sm-7 col-xs-12">
                            <div class="form-group">
                                @Html.EditorFor(model => model.FullUserName, new { htmlAttributes = new { placeholder = "الاسم بالكامل", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FullUserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "رقم الهاتف" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "البريد الالكتروني" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">

                                @Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { @type = "date", @class = "form-control", placeholder = "تاريخ الميلاد" } })
                                @Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">

                                @Html.DropDownList("Gender", null, new { @class = "form-control", placeholder = "الجنس" })
                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <input type="submit" value="حفظ" class="btn btn-primary form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
